## Covariance
covariance tells you whether two variables move together.

positive covariance --> X variable increases y also increases
Negative covariance --> X variable increases y also decreases
Zero covariance --> no relation b/w the variables
NOTE:: covariance shows only direction not strength

In [5]:
import pandas as pd
df=pd.read_csv('study_marks.csv')
df

   Study_Hours  Marks
0          2.9   27.0
1          5.8   61.0
2          4.7   45.0
3          4.0   38.0
4          1.8   19.0
5          1.8    8.0
6          1.3    4.0
7          5.3   50.0
8          4.0   35.0
9          4.5   47.0

In [6]:
df.var()

Study_Hours      2.481000
Marks          348.711111
dtype: float64

In [7]:
df.corr()

             Study_Hours    Marks
Study_Hours      1.00000  0.98277
Marks            0.98277  1.00000

In [8]:
df.cov()

             Study_Hours       Marks
Study_Hours     2.481000   28.906667
Marks          28.906667  348.711111

In [9]:
data= {
    "temp": [30,32,34,35,36],   # negative correlation
    "humidity":[40,39,34,28,27]
}
df=pd.DataFrame(data)
df

   temp  humidity
0    30        40
1    32        39
2    34        34
3    35        28
4    36        27

In [10]:
df.cov()

          temp  humidity
temp       5.8     -13.8
humidity -13.8      36.3

In [11]:
df.var()

temp         5.8
humidity    36.3
dtype: float64

In [12]:
df.corr()

              temp  humidity
temp      1.000000 -0.951068
humidity -0.951068  1.000000