## Normalization
### -Normalization is a technique used to scale the values of features into small range,usually 0 to 1.
### -it makes all features equal in scale so the model does not get confused by big and small numbers.

## why do we use normalisation
### Features have different ranges A is equal to 20 - 60 
### -Big numbers dominate small numbers.
### - Models work better when all values are in the same range.
### - Training become faster and more accurate.

### Normalisation is mainly needed in KNN, K means clustering, Neural networks, svm, Logistic regression.

       (x-min)
V = ---------------
       (max-min)

In [20]:
import pandas as pd

In [19]:
from sklearn.preprocessing import MinMaxScaler,StandardScaler

In [5]:
s = pd.Series([1000,2000,3000,4000,5000])

In [6]:
s

0    1000
1    2000
2    3000
3    4000
4    5000
dtype: int64

In [9]:
s.min()

1000

In [13]:
s.max()

5000

In [14]:
s_norm = (s-s.min())/(s.max()-s.min())

In [16]:
print(s_norm)

0    0.00
1    0.25
2    0.50
3    0.75
4    1.00
dtype: float64

In [21]:
s_norm = MinMaxScaler().fit_transform(s.values.reshape(-1,1)) #using Library
print(s_norm)

[[0.  ]
 [0.25]
 [0.5 ]
 [0.75]
 [1.  ]]

In [22]:
df = pd.read_csv('TEMP.csv')

In [23]:
df

   Temperature      Sunny
0           34         50
1           24         45
2           34         36
3           12         56
4           67         78
5           78         89
6           89         78

In [24]:
df.min()

Temperature    12
    Sunny      36
dtype: int64

In [25]:
df.max()

Temperature    89
    Sunny      89
dtype: int64